<div class="block" id="notice">
<%= AppConfig.notice %>
</div>
<div id="entries">
	<%= render "entries" %>
</div>
<div id="filters">
	<div id="calendar" class="block">
		<%= render "public/calendar", :datetime => @date %>
	</div>
	<div id="keyword" class="block">
		<%= form_tag '/keyword', :method => 'get', :remote => 'true' do %>
			<%= text_field_tag 'keyword', params[:keyword] || '', :id => "" %>
			<input type="submit" value="搜索" class="btn" />
		<% end %>
	</div>
	<div id="tags" class="block">
		<% tag_cloud(@tags.order("count desc"), []) do |tag, css| %>
			<span style="font-size: <%= tag.count/10.0 + 1.0 %>em;">
				<%= link_to tag.name, tag_path(tag.name), :remote => true %>(<%= tag.count %>)
			</span>
		<% end %>
	</div>
</div>
<div class="clear"></div>
