<!DOCTYPE html>
<html>
<head>
  <title>马太目欢乐颂+</title>
  <%= stylesheet_link_tag    "devise", "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <% if notice %><p class="notice"><%= notice %></p><% end %>
    <% if alert %><p class="alert"><%= alert %></p><% end %>
    <header>1111</header>
	<div id="content" class="block">
		<%= yield %>
	</div>
	<footer></footer>
</body>
</html>