<html>
  <head>
    <title>马太目欢乐颂+</title>
    <%= stylesheet_link_tag    "yamato_raven", :media => "all" %>
    <%= javascript_include_tag "application","hashchange","ajax","canvas_test" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <header>1111</header>
  <div id="container">
    <div id="side">
      <%= yield :side %>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </div>
  <footer>22222</footer>
  <%= query_review_output %>
</body>
</html>